<!-- Describe task in general -->

<p>
    We have {% if is_js %}an Array{% else %}a list{% endif %} of {% if is_js %}<span translate="repeat">boolean</span>{% else %}<span translate="repeat">bool</span>{% endif %}.
    Let's check if the majority of elements are {% if is_js %}<b class="code">true</b>{% else %}<b class="code">True</b>{% endif %}.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 200px"/>
</p>

<p>
    Some cases worth mentioning: 1) an empty {% if is_js %}Array{% else %}list{% endif %} should return
    {% if is_js %}<b class="code">false</b>{% else %}<b class="code">False</b>{% endif %};
    2) if {% if is_js %}<b class="code">true</b>-s and <b class="code">false</b>-s{% else %}<b class="code">True</b>-s and <b class="code">False</b>-s{% endif %}
    have an equal amount, function should return {% if is_js %}<b class="code">false</b>{% else %}<b class="code">False</b>{% endif %}.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> {% if is_js %}An Array{% else %}A list{% endif %} of {% if is_js %}<span translate="repeat">boolean</span>{% else %}bool{% endif %}.
</p>

<p>
    <strong>Output:</strong> A {% if is_js %}<span translate="repeat">boolean</span>{% else %}<span translate="repeat">bool</span>{% endif %}. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>


