<!-- Describe task in general -->

<p>
    We have an Array of booleans. Let's check if majority of elements are true.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 200px"/>
</p>

<p>
    Some cases worth to mention. Empty list should return false. In case where trues and false have equial amount, function should return false.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input: </strong> {% if interpreter.slug == "js-node" %}Array{% else %}Iterable{% endif %} of booleans.
</p>

<p>
    <strong>Output: </strong> Boolean
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Example:</strong>
    </p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">isMajority([true, true, false, true, false]) == true
isMajority([true, true, false]) == true
</pre>
{% else %}
<pre class="brush: python">is_majority([True, True, False, True, False]) == True
is_majority([True, True, False]) == True
</pre>
{% endif %}
</div>


